@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}

body {
  position: relative;
}

.container {
  max-width: 1200px;
  height: auto;
 }

.row {
  margin: 0;
}

p {
  margin: 0;
}

[class*="col-"] {
  padding: 0;
}

.text-bold {
  font-weight: 700;
}

.sidenav {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333333;
}

.sidenav_text {
  padding: 12px 32px;
  color: #e4e4e4;
  letter-spacing: 2px;
  font-size: 16px;
  display: block;
}

.sidenav_header {
  margin: 40px 0 0 0;
  color: #7e7e7e;
}

.sidenav a {  
  color: #e4e4e4;
  transition: 0.3s;
  text-decoration: none;
}

.sidenav a:hover {
  background-color: #434343;
  font-weight: 900;
}


.overview {
  margin-left: 18%; 
}

.overview h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #676767;
  letter-spacing: 2px;
  padding: 30px 40px 15px 40px;
}


.call {
  font-family: 'Roboto', sans-serif;

}

.data h2 {
  font-size: 20px;
  margin-top: 10px;
  padding: 3px;
  font-weight: 700;
}

.data__callinformation {
  padding-left: 40px;
}
.data__callinformation p {
  padding: 5px;

}


/*vizualization*/

.data__callvizualization {
  padding-left: 40px;
}

.bar-circle {
  display: inline-block;
  margin: 30px 20px 30px 140px;
}

.progress-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

.progress-circle > .inner-circle {
  position: absolute;
  color: black;
}

.progress-circle > svg {
  height: 100%;
  display: block;
}

.counter-inside {
  font-size: 65px;
  width:70px;
  border-radius: 50%;
  height:70px;
  margin: 0;
  padding: 0;
}

.counter-inside2 {
  font-size:18px;
  width:20px;
  border-radius: 50%;
  height:20px;
  color: grey;
  font-weight: 400;
  padding-left: 20px;;
}


.data__breakdown {
  padding: 20px 40px 0 40px;
}

ul {
 list-style: none;
 margin:0;
 padding:0;
}

ul li {
  float: left;
  margin: 10px 0px 10px 0;
  padding: 10px 7% 10px 0;
  text-align: center;
}
.square-icon {
  width: 15px;
  height: 15px;
  background-color: yellow;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari 3-8 */
  transform: rotate(45deg);
  float: left;
  margin: 5px 10px 0 0;
}

/*data breakdown*/
 
.data__breakdown {
  font-size: 14px;
}


/*Progress bar-line*/

.bar-line {
  margin: 10px 0;
}

.bar-line h3 {
  font-size: 14px;
  margin-top: 5px;
  padding: 3px;
  font-weight: 700;
}

.progress-bar-blue {
      background-color: #1a8ddd !important;
}

.progress-bar-green {
      background-color: #35ddb3 !important;
}

.progress-bar-yellow {
      background-color: #dddc61 !important;
}

.progress-bar-orange {
      background-color: #dd6844 !important;
}

.progress-bar-purple {
      background-color: #8f71dd !important;
}

.progress-bar-grey {
  background-color: #CCCC !important
}


.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}


/* MEDIA QUERIES*/

@media (max-width: 767.98px) { 
.sidenav {position: static; height: auto; width: 100%;padding: 40px 0;}
.overview {margin: 0;}
.overview h1 {padding: 25px;}
.data h2 {margin-top: 20px;}
.data__callinformation {padding: 30px;}
.data__callvizualization {padding: 30px;}
.data h2 {margin-top: 20px;}

.bar-circle {margin: 50px;}

}

@media(min-width: 768px) and (max-width: 991px) {
.overview {margin-left: 25%;}
.data h2 {margin-top: 20px;}
 }


@media (max-width: 1199.98px) {

}



